<div class="d-flex flexwrap gap-5 justify-content-evenly my-5">
    <div>
      <img src="/assets/img/pin-test.png" class="img-fluid" style="width: 150px;" data-aos="flip-left" data-aos-delay="200" data-aos-once="true"></p>
    </div>
    <div>
      <img src="/assets/img/pin-pink.png" class="img-fluid" style="width: 150px;" data-aos="flip-left" data-aos-delay="400" data-aos-once="true"></p>
    </div>
    <div>
      <img src="/assets/img/pin-transflag.png" class="img-fluid" style="width: 150px;" data-aos="flip-left" data-aos-delay="600" data-aos-once="true"></p>
    </div>
  </div>