{% assign future_events = site.event | where_exp: "post", "post.date >= site.time" %}
{% assign sorted-events = future_events | sort: 'date' %}
{% for item in sorted-events limit:4 %}
<div class="card-cal-upcoming gap-0 mb-4 mx-auto d-flex flex-wrap align-items-stretch">
    <div class="card-event d-flex flex-column justify-content-center" data-aos="fade-up">
        <div>
        <a href="{{item.url}}"><img src="/assets/img/events/{{item.image}}" alt="{{item.name}}" class="img-fluid"></a>
        </div>
        <div class="hstack gap-0 justify-content-between align-items-start px-4 pt-4">
            <div class="fw-bold text-white text-uppercase text-center">{{ item.date | date: "%B" }}<br><span class="fs-1">{{ item.date | date: "%-d" }}</div>
                <div class="vstack gap-p align-items-end  pb-2 justify-content-between">
                    <div class="accent-2 fw-semibold text-uppercase text-end">{{ item.date | date: "%A" }}</div>
                    <div><span class="text-white ff-sans fw-semibold">{{item.time-start}}</span></div>
                    <div><span class="accent-2 fw-light">&dash;</span> <span class="text-white ff-sans fw-semibold">{{item.time-end}}</span>
                    </div>
                </div>
            
        </div>
        <div class="flex-grow-1 pb-4 px-2">
            <div class="px-3">
                <hr class="border-3 border-light">
            </div>
            <h4 class="mt-4 text-uppercase text-center fw-semibold"><a href="{{item.url}}" alt="Details" class="text-white text-decoration-none">{{item.name}}</a></h4>
        </div>
    </div>
</div>
{% endfor %}