<nav class="navbar navbar-expand-xl m-0 overflow-hidden">
    <div class="container-fluid">
    <div class="d-flex flex-fill align-content-center justify-content-between">
        <div class="text-center" id="logo">
            <a href="/" alt="home"><img src="/assets/img/logo-stamp-transparent.png" alt="PO Box Collective Logo" class="img-fluid"></a>
        </div>
        <div class="pe-3 pt-5">
            <button class="navbar-toggler" type="button"  data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop" aria-controls="offcanvasTop" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="d-none d-xl-flex navbar-expand-lg flex-fill justify-content-between align-items-top">
            <div class="pe-3 mt-5 ps-5">
                <p><a href="/events/" alt="Calendar of Events" class="text-decoration-none">CALENDAR</a></p>
            </div>
            <div class="pe-3 mt-5">
                <p><a href="/programming/" alt="Programming" class="text-decoration-none">PROGRAMMING</a></p>
            </div>
            <div class="pe-3 mt-5">
                <p><a href="/contact/" alt="Collaborate" class="text-decoration-none">CONTACT / COLLABORATE</a></p>
            </div>
            <div class="mt-5">
                <p><a href="/about/" alt="About Us" class="text-decoration-none">ABOUT</a></p>
            </div>
            <div class="animate__animated animate__fadeIn stamp mt-3 pe-4">
                <p><a href="/donate/" alt="Make a Donation"><img src="/assets/img/stamp-donate.png" class="img-fluid"></a></p>
            </div>
        </div>
    </div>
</div>
</nav>
<div class="offcanvas h-100 offcanvas-top offcanvas-nav" tabindex="-1" id="offcanvasTop" aria-labelledby="offcanvasTopLabel">
<div class="d-flex flex-column hero-landing">
         <div class="text-center pt-5">
            <button type="button" class="btn-close text-black text-end" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="text-center">
            <img src="/assets/img/logo-stamp-transparent.png" class="img-fluid" alt="PO Box Collective Logo">
        </div>
</div>
<div class="offcanvas-body bg-white text-black">
    <div class="d-flex flex-column text-center px-5">
        <p class="w-75 btn btn-dark mx-auto mt-4"><a class="text-white rounded rounded-3 pt-3 pb-2 hr text-center" href="/donate/">DONATE</a></p>
        <p class="text-center fw-semibold py-1"><a href="/events/" alt="Calendar of Events">Calendar</a></p>
        <p class="text-center fw-semibold py-1"><a href="/programming/" alt="Programming">Programming</a></p>
        <p class="text-center fw-semibold py-1"><a href="/contact/" alt="Contact">Collaborate/Contact</a></p>
        <p class="text-center fw-semibold py-1"><a href="/about/" alt="About">About</a></p>
        <div class="hstack gap-3 m-3 justify-content-md-end justify-content-center">
            <div>
                <h2 class="text-uppercase"><a href="https://www.instagram.com/poboxcollective/?hl=en" alt="Instagram" class="accent-2-dark text-decoration-none"><i class="bi bi-instagram ps-2"></i></a></h2>
            </div>
            <div>
            <h2 class="text-uppercase"><a href="https://www.facebook.com/POBoxCollective/" alt="Facebook" class="accent-2-dark text-decoration-none"><i class="bi bi-facebook ps-2"></i></a></h2>
            </div>
        </div>
        <h7 class="text-center">6900 N Glenwood Ave<br>Chicago, IL 60626</h7>
        </div>
        </div>
    </div>
</div>
</div>