<div class="container-fluid g-0 bg-accent-2 text-white border border-top-5 border-bottom-5 border-start-0 border-end-0">
    <article class="wrapper">
      <div class="marquee">
            <div class="marquee__group">
                <span>FREE ART !</span>
                <span>FREE FOOD !</span>
                <span>FREE PEOPLE !</span>
                <span>FREE ART !</span>
                <span>FREE FOOD !</span>
                <span>FREE PEOPLE !</span>
                <span>FREE ART !</span>
                <span>FREE FOOD !</span>
                <span>FREE PEOPLE !</span>
            </div>    
            <div aria-hidden="true" class="marquee__group">
                <span>FREE ART !</span>
                <span>FREE FOOD !</span>
                <span>FREE PEOPLE !</span>
                <span>FREE ART !</span>
                <span>FREE FOOD !</span>
                <span>FREE PEOPLE !</span>
                <span>FREE ART !</span>
                <span>FREE FOOD !</span>
                <span>FREE PEOPLE !</span>
            </div>
        </div>
    </article>
</div>
<div class="container-fluid bg-map topographic">
    <div class="container pt-5 pb-0 pb-sm-5">
      <div class="row g-5">
        <div class="col-md-4 col-sm-12 text-center">
          <a href="https://maps.app.goo.gl/kiraTHJz2yN8FXSr6" target="_blank" class="text-white text-decoration-none"><img src="/assets/img/map-pobox-rogers-park.png" alt="Map to PO Box" class="img-fluid mb-4 border border-light border-4"></a>
          <h7><a href="https://maps.app.goo.gl/kiraTHJz2yN8FXSr6" target="_blank" class="text-white text-decoration-none">6900 N Glenwood Ave<br>Chicago, IL 60626</a></h7>
        </div>
        <div class="col-md-8 col-sm-12 bg-accent-1 py-5 pe-5 rounded rounded-2">
          <h1 class="fw-bold text-uppercase text-center text-white pb-4">PO BOX Collective</h1>
          <ul>
            <li>
              <div class="d-flex">
                <div class="pe-5"><i class="bi bi-brush pe-2 text-white fs-1"></i></div>
                <div><p class="fw-semibold accent-2-dark">Is a creative collective & intergenerational social practice center dedicated to building Rogers Park community through radical art making, mutual aid & programming.</p><hr></div>
              </div>
            </li>
            <li>
              <div class="d-flex">
                <div class="pe-5"><i class="bi bi-megaphone pe-2 text-white fs-1"></i></div>
                <div><p class="fw-semibold accent-2-dark">Embraces a horizontal organization model that centers marginalized voices while fostering mutual growth & healing.</p><hr></div>
              </div>
            </li>
            <li>
              <div class="d-flex">
                <div class="pe-5"><i class="bi bi-person-arms-up pe-2 text-white fs-1"></i></div>
                <div><p class="fw-semibold accent-2-dark">Intentionally works to counter systemic oppression, while building up positive alternatives outside of those systems and structures.</p><hr></div>
              </div>
            </li>
            <li>
              <div class="d-flex">
                <div class="pe-5"><i class="bi bi-cash-coin pe-2 text-white fs-1"></i></div>
                <div><p class="fw-semibold accent-2-dark">Is committed to never requiring payment in exchange for programming associated with our collective.</p><hr></div>
              </div>
            </li>
            <li>
              <div class="d-flex">
                <div class="pe-5"><i class="bi bi-bank pe-2 text-white fs-1"></i></div>
                <div><p class="fw-semibold accent-2-dark">Does not endorse any political candidates, nor do we host political events, such as fundraisers.</p></div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>