:root {
  --size: clamp(1rem, 1rem + 10vmin, 30rem);
  --gap: calc(var(--size) / 14);
  --duration: 200s;
  --scroll-start: 0;
  --scroll-end: calc(-100% - var(--gap));
}

html, body {
  overscroll-behavior-x: none;
}

body {
  background: #f8f4f4;
  color: #000000;
  font-family: "Kadwa", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1.3rem;
}

.font-nav {
  font-family: "Oswald", Helvetica, sans-serif;
}

.font-headline {
  font-family: "Corben", serif;
}

p {
  font-size: 1.2rem;
}

.poster-wrapper p {
  font-size: 1.3rem;
}

footer {
  background: #9BB2E8;
  color: #233255;
  font-size: 1.2rem;
}

footer ul li {
  list-style: none;
}

a {
  color: rgb(38, 122, 94);
}

h1 {
  font-family: "Oswald", serif;
  font-optical-sizing: auto;
  font-size: 20rem;
}

.poster-wrapper {
  max-width: 80%;
  margin: auto;
}

.poster-wrapper img {
  height: 125px;
}
@media (max-width: 768px) {
  .poster-wrapper img {
    display: block;
    max-height: 50px;
  }
}
@media (max-width: 768px) {
  .poster-wrapper img {
    display: block;
    max-height: 50px;
  }
}
@media (max-width: 1400px) {
  .poster-wrapper img {
    display: block;
    max-height: 100px;
  }
}

/* .hero-landing {
  @media (min-width: 1400px){
    background-image: url("/assets/img/bg-image-food.png"),url("/assets/img/bg-image-craft.png");
    background-position: left top, right bottom;
    background-repeat: no-repeat;
    animation-name: fadeIn;
    animation-duration: 2s;
    animation-iteration-count: once;
  }
}
*/
.bg-events-landing {
  background-image: url("/assets/img/back-arrow-down.png");
  background-position: top center; /*Positioning*/
  background-repeat: no-repeat; /*Prevent showing multiple background images*/
}

nav {
  background-image: url("/assets/img/letter-border.png");
  background-repeat: repeat-x;
  position: absolute;
  animation-name: fadeIn;
  animation-duration: 1s;
}

nav p {
  font-family: "Oswald", serif;
  font-weight: 400;
  font-size: 1.8rem;
}

nav a.btn {
  font-weight: 400;
  font-size: 1.6rem;
  border: 2px rgb(44, 86, 70) solid;
  background-color: rgb(38, 164, 124);
  color: white;
}

nav a.btn:hover {
  background-color: rgb(38, 122, 94);
  border: 2px black solid;
  color: white;
}

.offcanvas-nav {
  background-image: url("/assets/img/letter-border.png");
  background-repeat: repeat-x;
  position: absolute;
}

.offcanvas-nav p {
  font-family: "Oswald", serif;
  font-weight: 400;
  font-size: 2rem;
  text-transform: uppercase;
  color: black;
}

.offcanvas-nav a {
  text-decoration: none;
  color: black;
}

nav #logo, .offcanvas-nav #logo {
  margin-top: -0.5rem;
  transform: rotate(-5deg);
}

/* Marquee styles */
.marquee {
  --gap: 1rem;
  position: relative;
  display: flex;
  overflow: hidden;
  user-select: none;
  gap: var(--gap);
}

.marquee__content {
  flex-shrink: 0;
  display: flex;
  justify-content: space-around;
  gap: var(--gap);
  min-width: 100%;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}
/* Pause animation when reduced-motion is set */
@media (prefers-reduced-motion: reduce) {
  .marquee__content {
    animation-play-state: paused !important;
  }
}
/* Enable animation */
.enable-animation .marquee__content {
  animation: scroll 10s linear infinite;
}

.marquee--reverse .marquee__content {
  animation-direction: reverse;
}

.marquee--hover-pause:hover .marquee__content {
  animation-play-state: paused;
}

.marquee--fit-content {
  max-width: fit-content;
}

.marquee--pos-absolute .marquee__content:last-child {
  position: absolute;
  top: 0;
  left: 0;
}

.enable-animation .marquee--pos-absolute .marquee__content:last-child {
  animation-name: scroll-abs;
}

@keyframes scroll-abs {
  from {
    transform: translateX(calc(100% + var(--gap)));
  }
  to {
    transform: translateX(0);
  }
}
.marquee {
  display: flex;
  overflow: hidden;
  user-select: none;
  gap: var(--gap);
}

.marquee__group {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: var(--gap);
  min-width: 100%;
  animation: scroll-x 80s linear infinite;
}

@media (prefers-reduced-motion: reduce) {
  .marquee__group {
    animation-play-state: paused;
  }
}
.marquee--vertical {
  --mask-direction: to bottom;
}

.marquee--vertical,
.marquee--vertical .marquee__group {
  flex-direction: column;
}

.marquee--vertical .marquee__group {
  animation-name: scroll-y;
}

.marquee--reverse .marquee__group {
  animation-direction: reverse;
  animation-delay: -5s;
}

@keyframes scroll-x {
  from {
    transform: translateX(var(--scroll-start));
  }
  to {
    transform: translateX(var(--scroll-end));
  }
}
@keyframes scroll-y {
  from {
    transform: translateY(var(--scroll-start));
  }
  to {
    transform: translateY(var(--scroll-end));
  }
}
/* Element styles */
.marquee span {
  display: grid;
  place-items: center;
  fill: var(--color-text);
  background: var(--color-bg-accent);
  aspect-ratio: 16/9;
  padding: calc(var(--size) / 10);
  border-radius: 0.5rem;
  font-weight: 500;
  font-style: italic;
}

/* Parent wrapper */
.wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  margin: auto;
  max-width: 100vw;
}

/*# sourceMappingURL=main.css.map */