<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  {% include head.html %}
  <body>
    <div class="container-fluid g-0 overflow-hidden">
      {% include nav.html %}
      <!-- top content block -->
      <div class="container-fluid hero-landing">
        <div class="row align-items-top justify-content-center">
          <div class="col-lg-6 col-md-12 pb-5 ps-sm-0 ps-md-3 ps-lg-5 pt-3 pt-md-0 animate__animated animate__fadeIn">
            <img src="/assets/img/collaborate.jpg" alt="Collaborate with PO Box" class="img-fluid rounded rounded-4 mb-4">
          </div>
          <div class="col-lg-6 col-md-12 pe-4 pe-md-5">
            <h1 class="text-uppercase accent-2-dark fw-bold px-0 px-md-5 text-center text-md-start animate__animated animate__fadeIn">Collaborate<br><span class="accent-2">with PO Box</span></h1>
            <div class="px-3 px-md-5 mt-5 animate__animated animate__fadeIn">
              <p>PO Box Collective welcomes proposals to use our space for programming, educational events, meetings, etc that align with our collective values of building community in Rogers Park through radical art making & programming, centering marginalized voices and confronting systems of oppression while fostering mutual growth & healing.</p>
              <p><i class="bi bi-arrow-down-circle-fill accent-2 pe-2"></i> Click below to fill out a proposal.</p>
              <p><i class="bi bi-clock-fill accent-2 pe-2"></i>Proposals are reviewed on a rolling basis - typically every 3 weeks.</p>
              <p><i class="bi bi-piggy-bank-fill accent-2 pe-2"></i>All of our events are free to the public. <span class="fw-bold">We do not accept proposals that charge a fee to participants.</span> A suggested donation is allowed, but organizers cannot require anyone to pay.</p>
              <h2 class="text-center mt-5"><a href="https://docs.google.com/forms/d/e/1FAIpQLSfbNRMXgJMAFVwCy9P7tjoBnUnDprlY6hTT3_66boVlCJjnZg/viewform" class="btn btn-primary rounded rounded-pill px-4 py-2 accent-2-dark border-white" data-aos="slide-up" data-aos-anchor-placement="top-bottom" target="_blank" alt="Submit a Space Usage Proposal"><i class="bi bi-calendar2-heart pe-2 text-white"></i>Submit a Space Usage Proposal</a></h2>
            </div>
            <!--<div class="plyr__video-embed ratio ratio-16x9 mt-5 animate__animated animate__fadeInUp" id="player">
              <iframe
                  src="https://www.youtube.com/embed/HiYTpYSG_pE?origin=https://plyr.io&amp;iv_load_policy=3&amp;modestbranding=1&amp;playsinline=1&amp;showinfo=0&amp;rel=0&amp;enablejsapi=1"
                  allowfullscreen
                  allowtransparency
                  allow="autoplay"
              ></iframe>
            </div>-->
          </div>
          {% include buttons.html %}
        </div>
        <div class="row card-event mt-5 py-5">
          <div class="col animate__animated animate__fadeIn">
            <h1 class="text-center text-uppercase text-white px-5">Contact PO Box</h1>
            <p class="mt-5 text-white text-center">Please drop us a line using this form and we will get back to you.</p>
          </div>
        </div>
      </div>
        <div class="bg-accent-1">
          <div class="row pt-5 g-0">
            <div class="col-12 col-md-6 pb-5 ps-sm-0 ps-md-3 ps-lg-5 mx-auto">
              <div class="m-5 accent-2-dark" data-aos="fade-up">
                <form id="fs-frm" name="simple-contact-form" accept-charset="utf-8" action="https://formspree.io/f/mdknnnwd" method="post">
                  <fieldset id="fs-frm-inputs">
                    <div class="hstack gap-3">
                      <div>
                        <h4 class="text-black"><label for="full-name"><i class="bi bi-person-circle opacity-75 accent-3"></i> Name</label></h4>
                      <input type="text" name="name" id="full-name" required="yes" class="w-100 ls-1 p-2 mb-4 border border-3 form-input rounded-3" />
                      </div>
                      <div class="w-100">
                        <h4 class="text-black"><label for="email-address"><i class="bi bi-envelope-at-fill accent-3 opacity-75"></i> Email Address</label></h4>
                        <input type="email" name="_replyto" id="email-address" required="yes" class="w-100 p-2 mb-4 border border-3 form-input rounded-3" />
                      </div>
                    </div>
                      <h4 class="text-black"><label for="message"><i class="bi bi-pencil-fill accent-3 opacity-75"></i> Message</label></h4>
                      <textarea rows="5" name="message" id="message" class="w-100 border border-3 rounded-3 fc-1 p-4 form-textarea" required="yes"></textarea>
                      <input type="hidden" name="_subject" id="email-subject" value="Contact Form Submission" />
                  </fieldset>
                  <div class="text-end mt-3">
                  <button type="submit" value="Submit" class="btn btn-outline-primary rounded rounded-pill px-3 py-2 text-dark"><i class="bi bi-send-fill text-white pe-2"></i> SEND</button>
                  </div>
                </form>
              </div>
            </div>
        </div>
        <!-- top content block -->
       </div>
      </div>
      <div class="container-fluid card-event pb-5 pt-5 mb-4">
        <h1 class="text-uppercase text-center text-white">Upcoming Events</h1>
      </div>
      <div class="container-fluid px-5 mt-5">
        <div class="row d-flex g-4 flex-wrap justify-content-start flex-fill align-items-stretch">
          {% include events-next-3.html %}
        </div>
        <h3 class="py-5 text-center text-md-end"><i class="bi bi-arrow-return-right accent-2-dark pe-2"></i>  <a href="/events/" alt="All Events" class="accent-3">View All Upcoming Events</a></h3>
      </div>
      {% include press.html %}
    </div>
    {% include values.html %}
    {% include footer.html %}
    <script>
      AOS.init(
        {
          startEvent: 'DOMContentLoaded',
          easing: 'ease-in-out',
          duration: 600,
        }
      );
      window.addEventListener('load', AOS.refresh);
    </script>
  </body>
</html>
