<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  {% include head.html %}
  <body>
    <div class="container-fluid g-0 overflow-hidden">
      {% include nav.html %}
      <div class="container-fluid hero-landing">
        <div class="row align-items-top justify-content-center">
          <div class="col-lg-6 col-md-12 pb-5 ps-sm-0 ps-md-3 ps-lg-5 animate__animated animate__fadeIn d-none d-sm-block">
            <img src="/assets/img/events/{{page.image}}" alt="Fiber Night" class="img-fluid rounded rounded-4 sticky-top">
          </div>
          <div class="col-lg-6 col-md-12 pe-sm-0 pe-md-3 pe-lg-5 order-1 order-sm-2">
            <div class="card-event px-5 py-4 text-white rounded rounded-4">
              <h1 class="text-uppercase animate__animated animate__fadeIn">{{page.name}}</h1>
              <div class="d-flex justify-content-between align-items-start pt-3">
                <div class="text-center animate__animated animate__fadeInLeft"><span class="fw-bold text-uppercase">{{ page.date | date: "%B" }}<br><span class="fs-1">{{ page.date | date: "%-d" }}</span>
                </div>
                <div class="fw-semibold animate__animated animate__fadeInRight text-end"><span class="accent-2 text-uppercase">{{ page.date | date: "%A" }}</span><br>{{page.time-start}} <span class="accent-1">-</span> {{page.time-end}}
                    <hr class="opacity-75 border-3">
                </div>
              </div>
              <div class="hstack justify-content-between">
                <div class="ps-1" data-aos="fade-up">
                  {% if page.type == "recurring" %}
                  <h2 class="text-center opacity-25"><i class="bi bi-arrow-repeat ps-2"></i></h2>
                  {% endif %}
                  {% if page.type == "series" %}
                      <h2 class="text-center opacity-25"><i class="bi bi-calendar2-range-fill"></i></h2>
                  {% endif %}
                  {% if page.type == "single" %}
                    <h2 class="text-center opacity-25"><i class="bi bi-calendar2-event-fill"></i></h2>
                  {% endif %}
                </div>
                <div data-aos="fade-up">
                  {% if page.type == "recurring" %}
                      <p class="fw-light text-white opacity-25">Recurring</p>
                  {% endif %}
                  {% if page.type == "series" %}
                      <p class="fw-light text-white opacity-25">Series</p>
                  {% endif %}
                  {% if page.type == "single" %}
                      <p class="fw-light text-white opacity-25">One-Time</p>
                  {% endif %}
                </div>
              </div>
          </div>
          <div class="animate__animated animate__fadeIn px-1 px-sm-5 pt-3 pb-3">
              <img src="/assets/img/events/{{page.image}}" alt="Fiber Night" class="img-fluid rounded rounded-4 d-block d-sm-none">
              <p class="mt-3">{{content}}</p>
              <hr class="border-3 accent-2 mb-4">
              <h5 class="mt-4 accent-2-dark mb-4">{% include event-policy.html %}</h5>
          </div>
          <div class="mb-5 text-center px-2 px-sm-5">
            <a href="/events/" class="btn btn-outline-primary rounded rounded-pill px-4 py-2 w-100"><i class="bi bi-search-heart-fill pe-2 accent-3"></i>Explore All Events</a>
          </div>
            {% include buttons.html %}
            <!--<div class="plyr__video-embed ratio ratio-16x9 mt-5 animate__animated animate__fadeInUp" id="player">
              <iframe
                  src="https://www.youtube.com/embed/HiYTpYSG_pE?origin=https://plyr.io&amp;iv_load_policy=3&amp;modestbranding=1&amp;playsinline=1&amp;showinfo=0&amp;rel=0&amp;enablejsapi=1"
                  allowfullscreen
                  allowtransparency
                  allow="autoplay"
              ></iframe>
            </div>-->
          </div>
        </div>
      </div>
      {% include events-next-3.html %}
      {% include press.html %}
    {% include values.html %}
    {% include footer.html %}
    <script>
      AOS.init(
        {
          startEvent: 'DOMContentLoaded',
          easing: 'ease-in-out',
          duration: 600,
        }
      );
      window.addEventListener('load', AOS.refresh);
    </script>
  </body>
</html>
