<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  {% include head.html %}
  <body>
    <div class="container-fluid g-0 overflow-hidden">
      {% include nav.html %}
      <div class="container px-4 px-sm-0 pb-5 mb-4 pt-sm-5 pt-md-0">
        <a href="/programming/" alt="PO Box Programming" class="text-decoration-none"><h1 class="text-uppercase text-center accent-2-dark fw-bold" data-aos="fade-in"><span class="accent-2">PO Box</span> Programming</h1></a>
        <div class="container-fluid pb-5 d-none d-lg-block" data-aos="fade-in">
          {% include programming-categories.html %}
        </div>
        <div class="container pt-3 text-center pb-3 pb-sm-5 d-block d-lg-none">
          <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasFilter" aria-controls="offcanvasFilter" data-aos="flip-up">
            <i class="bi bi-filter"></i> Filter
          </button>
          <div class="offcanvas offcanvas-top w-100 vh-100 bg-upwards" tabindex="-1" id="offcanvasFilter" aria-labelledby="offcanvasFilterLabel">
            <div class="offcanvas-header">
              <button type="button" class="btn-close fill-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body mx-auto">
              <div class="text-start vstack gap-4 pt-5">
                <h3><a href="/programming/" class="text-white text-decoration-none" alt="All"><i class="bi bi-toggle2-off"></i> All</a></h3>
                <h3><a href="/programming/exhibitions/" class="text-white text-decoration-none"><i class="bi bi-easel-fill"></i> Exhibitions & Performances</a></h3>
                <h3><a href="/programming/workshops/" class="text-white text-decoration-none" ><i class="bi bi-gear-fill"></i> Workshops</a></h3>
                <h3><a href="/programming/mutual-aid/" class="text-white text-decoration-none" ><i class="bi bi-life-preserver"></i> Mutual Aid</a></h3>
                <h3><a href="/programming/general/" class="text-white text-decoration-none" ><i class="bi bi-asterisk"></i> General</a></h3>
                <h3><a href="/programming/screenings" class="text-white text-decoration-none" ><i class="bi bi-film"></i> Screenings</a></h3>
              </div>
            </div>
          </div>
        </div>
        <div class="hstack justify-content-between">
          <h5 class="text-uppercase text-start accent-3 fw-bold">
          {% if page.category == "exhibition" %}<i class="bi bi-easel-fill"></i>{% endif %}
          {% if page.category == "workshop" %}<i class="bi bi-gear-fill"></i>{% endif %}
          {% if page.category == "mutual-aid" %}<i class="bi bi-life-preserver"></i>{% endif %}
          {% if page.category == "general" %}<i class="bi bi-asterisk"></i>{% endif %}
          {% if page.category == "screening" %}<i class="bi bi-film"></i>{% endif %}
          {{page.categories}}</h5>
          <h5 class="accent-2 fw-semibold"><span class="fw-normal">|</span> {{page.date | date: "%B %d, %Y"}}</h5>
        </div>
        <h2 class="accent-2-dark fw-semibold">{{page.title}}</h2>
          <p>{{page.description}}</p>
        <div class="d-flex flex-row justify-content-between">
          <div class="text-end">{%if page.previous.url %}<h4><a href="{{ page.previous.url }}" alt="{{page.previous.title}}" class="text-decoration-none accent-3"><i class="bi bi-arrow-left pe-1"></i>Previous</a></h4>{% endif %}</div>
          <div class="text-end">{%if page.next.url %}<h4><a href="{{ page.next.url }}" alt="{{page.next.title}}" class="text-decoration-none accent-3">Next <i class="bi bi-arrow-right ps-1"></i></a></h4>{% endif %}</div>
        </div>
      </div>
      {% if page.image-hero %}
      <div class="container-fluid mb-5 g-0">
        <a href="{{page.image-hero[0]}}" class="glightbox" alt="{{page.title}}"><img src="{{page.image-hero[0]}}" class="img-fluid mx-auto" alt="{{page.title}} Image" data-aos="fade-up" data-aos-easing="ease-out"></a>
      </div>
      {% endif %}
      <div class="container-fluid px-4 mb-4">
        <div class="row align-items-top">
          <div class="col-md-6 col-sm-12 mb-sm-4 order-2 order-sm-1">
            <div class="vstack gap-5">
              {% for img in page.image offset:1 %}
              <a href="{{img}}" class="glightbox" alt="{{page.title}}"><img src="{{img}}" alt="{{page.title}} Image" class="img-fluid" data-aos="fade-up"></a>
              {% endfor %}
          </div>
          </div>
          <div class="col-md-6 col-sm-12 mb-sm-4 order-1 order-sm-2">
            <div class="px-0 px-sm-5 h-100 mt-5">
              <article data-aos="fade-up">
                {{page.content}}
              </article>
              <div class="sticky-md-top">
                <h4 class="py-5 text-end"><i class="bi bi-arrow-left accent-2-dark pe-2"></i>  <a href="/programming/" alt="Back to Programming" class="accent-3">Back to Programming</a></h4>
              </div>
            </div>
          </div>
        </div>
        {% include buttons.html %}
      </div>
      {% include press.html %}
    </div>
    {% include values.html %}
    {% include footer.html %}
    <script>
      AOS.init(
        {
          startEvent: 'DOMContentLoaded',
          easing: 'ease-in-out',
          duration: 600,
        }
      );
      window.addEventListener('load', AOS.refresh);
    </script>
    <script src="https://cdn.jsdelivr.net/gh/mcstudios/glightbox/dist/js/glightbox.min.js"></script>
    <script type="text/javascript">
      const lightbox = GLightbox({
        touchNavigation: true,
        openEffect: 'bounce', // Define that we want the bounce animation on open
        cssEfects: {
          // register our new animation
          bounce: { in: 'pulse', out: 'pulse' }
        },
        closeEffect: "none",
        autoplayVideos: true,
        loop: false,
      });
    </script>
  </body>
</html>